---
- hosts: focal-fossa
  become: True
  pre_tasks:
     - shell: echo 'I":" Beginning with sudo apt update and apt full-upgrade..'
  roles:
     - apt_get_update
  post_tasks:
     - shell: echo 'I":" Done sudo apt update ..'